[submodule "submodules/pcb"]
	path = submodules/pcb
	url = https://github.com/diodeinc/pcb.git
[submodule "submodules/skidl"]
	path = submodules/skidl
	url = https://github.com/devbisme/skidl.git
[submodule "submodules/tscircuit"]
	path = submodules/tscircuit
	url = https://github.com/tscircuit/tscircuit.git
[submodule "kicad-libraries/symbols"]
	path = kicad-libraries/symbols
	url = https://gitlab.com/kicad/libraries/kicad-symbols.git
[submodule "kicad-libraries/footprints"]
	path = kicad-libraries/footprints
	url = https://gitlab.com/kicad/libraries/kicad-footprints.git
[submodule "submodules/kicad-cli-docker"]
	path = submodules/kicad-cli-docker
	url = https://gitlab.com/kicad/packaging/kicad-cli-docker.git
[submodule "src/external_repos/modm-devices"]
	path = src/external_repos/modm-devices
	url = https://github.com/modm-io/modm-devices.git
