[Unit]
Description=Update Circuit-Synth website every hour
Requires=circuit-synth-update.service

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target